
/* custom styles */
#page_content {
    margin-top: 20px;
}


#grid {
    position: absolute;
    right: 0;
    top 0;
    margin: 2px;
    height: 95%;
    width: 73%;
    min-width: 560px;
}

#file_menu {
    position: absolute;
    display: inline-block;
    left: 0;
    top: 0;
    margin: 2px;
    height: 95%;
    width: 24%;
    min-width: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#item_container {
    position: absolute;
    display: block;
    height: 100%;
    width: 95%;
    min-width: 780px;
    min-height: 460px;
}

.file_item {
    position: relative;
    cursor: pointer;
    text-align: left;
}

.file_item:hover {
    background-color: ghostwhite;
}

.file_item span {
    margin-right: 5px;
}

.grid_item {
    position: absolute;
    height: 30%;
    width: 30%;
    background-color: #337ab7;
    opacity: 0.75;
    border: 1px #ddd dashed;
    border-radius: 2px;
    transition: 0.2s;
}

.grid_disabled {
    background-color: #337ab7;
    opacity: 0.2;
}

.grid_tile {
    background-color: ghostwhite;
}

.drag_hover {
    opacity: 1;
}

/* styles for grid */

#TL {
    top: 0;
    left: 0;
}

#T {
    top: 0;
    left: 33%;
}

#TR {
    top: 0;
    left: 66%;
}

#L {
    top: 33%;
    left: 0;
}

#M {
    top: 33%;
    left: 33%;
}

#R {
    top:33%;
    left: 66%;
}

#BL {
    top: 66%;
    left: 0;
}

#B {
    top: 66%;
    left: 33%;
}

#BR {
    top:66%;
    left: 66%;
}

/* styles for content tiles */

.rem_button {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 20px;
    cursor: pointer;
}

.grid_tile:hover .rem_button:after {
    font-family: 'Glyphicons Halflings';
    content: "\e014";
    color: crimson;
    font-size: 20px;
}

.pos_M {
    position: absolute;
    top:0%;
    left:0%;
    width:100%;
    height:100%;
}

.pos_T {
    position: absolute;
    top:0%;
    left:0%;
    width:100%;
    height:50%;
}

.pos_B {
    position: absolute;
    top:50%;
    left:0%;
    width:100%;
    height:50%;
}

.pos_L {
    position: absolute;
    top:0%;
    left:0%;
    width:50%;
    height:100%;
}

.pos_R {
    position: absolute;
    top:0%;
    left:50%;
    width:50%;
    height:100%;
}

.pos_TL {
    position: absolute;
    top:0%;
    left:0%;
    width:50%;
    height:50%;
}

.pos_TR {
    position: absolute;
    top:0%;
    left:50%;
    width:50%;
    height:50%;
}

.pos_BL {
    position: absolute;
    top:50%;
    left:0%;
    width:50%;
    height:50%;
}

.pos_BR {
    position: absolute;
    top:50%;
    left:50%;
    width:50%;
    height:50%;
}
