/* mo bootstrap mo problems */

.navbar-default .navbar-nav>li>a {
    color: #ddd !important;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #555 !important;
    background-color: #e7e7e7;
}

.navbar-default .navbar-brand {
    color: #ddd !important;
}

/* global */

h1,h2,h3,h4,h5,a,p {
	font-family: 'Lato', sans-serif !important;
}

.color1 {
	background-color: #3C587F !important;
	color: #fff;
}

.color2 {
	background-color: #C4DDFF !important;
	color: #333;
}

.color3 {
	background-color: #78B0FF !important;
	color: #ddd;
}

.color4 {
	background-color: #626E7F !important;
	color: #ddd;
}

.color5 {
	background-color: #608DCC !important;
	color: #ddd;
}

.color6 {
	background-color: #ccffff !important;
	color: black;
}

.navbar-brand {
	cursor: pointer;
}

/* course package page */
.coursepackage_title {
    text-align: left;
	color: black;
}

.coursepackage_title > h2 {
	float: left;
	margin-right: 20px;

}

.button_row {
	margin-top: 24px;
    float: left;
}

.pagecontent_top {
}

.left_arrow {
	width: 12px;
	min-height: 50vh;
	height: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
	background-image: linear-gradient(to right, #337ab7 0%, #2b669a 100%);
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	cursor: pointer;
}

.right_arrow {
	width: 12px;
	min-height: 50vh;
	height: 100%;
	position: absolute;
	right: 0px;
	top: 0px;
	background-image: linear-gradient(to left, #337ab7 0%, #2b669a 100%);
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
	cursor: pointer;
}

/* index page */
.top {
    margin-top: 56px;
}

.sidebar_top {
    vertical-align: top;
	float: left;
	width: 140px;
}

.content_top {
	margin-left: 145px !important;
	text-align: center;
}

.course_list {
}

.course_list_title {
	margin-left: 15px;
}

/* login page */
.logo_row {
	padding-top: 26vh;
	text-align: center;
}

.login_box {
	width: 100%;
	padding: 20px;
	margin-top: 20px;
	border-radius: 2px;
}
