* {
    border: solid black 1px;
}

#grid {
    position: absolute;
    right: 0;
    top 0;
    margin: 2px;
    height: 95%;
    width: 49%;
}

#file_menu {
    position: absolute;
    display: inline-block;
    left: 0;
    top: 0;
    margin: 2px;
    height: 95%;
    width: 49%;
}

#item_container {
    position: absolute;
    display: block;
    height: 100%;
    width: 95%;
}

.file_item {
    border: solid 1px black;
    position: relative;
    height: 20px;
    width: 80%;
}

.grid_item {
    position: absolute;
    height: 30%;
    width: 30%;
}

.drag_hover {
    background-color: red;
}

#TL {
    top: 0;
    left: 0;
}

#T {
    top: 0;
    left: 33%;
}

#TR {
    top: 0;
    left: 66%;
}

#L {
    top: 33%;
    left: 0;
}

#M {
    top: 33%;
    left: 33%;
}

#R {
    top:33%;
    left: 66%;
}

#BL {
    top: 66%;
    left: 0;
}

#B {
    top: 66%;
    left: 33%;
}

#BR {
    top:66%;
    left: 66%;
}