* {
    border: solid black 1px;
}

#grid {
    position: absolute;
    display: inline-block;
    right: 0;
    top 0;
    margin: 2px;
    height: 95%;
    width: 49%;
}

#file_menu {
    position: absolute;
    display: inline-block;
    left: 0;
    top: 0;
    margin: 2px;
    height: 95%;
    width: 49%;
}

#container {
    position: absolute;
    display: block;
    height: 100%;
    width: 95%;
}

.file_item {
    border: solid 1px black;
    position: relative;
    height: 20px;
    width: 80%;
}
